/* @theme print-weaver */

@import 'default';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,800;1,400;1,800&display=swap');

/* local fonts */
@font-face {
    font-family: "Matrix II";
    font-weight: 400;
    src: url(./fonts/matrix-ii/matrix-ii-regular.otf); /* Relative to md file*/
}

@font-face {
    font-family: "Recia";
    font-weight: 700;
    src: url(./fonts/recia/ReciaSerifDisplay-Bold.otf);
}

/* root */
:root {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #fff;
    background-color: #231f20;
}

.center, img[alt="center"] {
    display: block;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Recia', serif;
    color: white;
}

/*
svg[id^='mermaid-'] {
min-width: 480px;
max-width: 960px;
min-height: 360px;
max-height: 600px;
}*/